<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,100&family=Kdam+Thmor+Pro&family=Ubuntu:wght@300&display=swap"
        rel="stylesheet">
    <title>Weather App</title>

    {{!-- <style>
        body {
            background-image: image("https://previews.123rf.com/images/pinkomelet/pinkomelet1607/pinkomelet160700194/60305231-blue-drops-falling-down-of-heavy-rain-weather-on-water.jpg");
        }
    </style> --}}
</head>


<body style="background-image: url({{background_link}});">
    <div class="container">
        <nav>
            <div id="heading">
                <h1>Welcome to the Weather App</h1>
            </div>
        </nav>
        <div class="popular">
            <ul class="popli">
                <a>
                    <li>Popular Cities:</li>
                </a>
                <a href="/link/bangalore">
                    <li>Bangalore</li>
                </a>
                <a href="/link/delhi">
                    <li>New Delhi</li>
                </a>
                <a href="/link/mumbai">
                    <li>Mumbai</li>
                </a>
                <a href="/link/hyderabad">
                    <li>Hyderabad</li>
                </a>
            </ul>
        </div>
        <div id="city">
            <div>{{city}}</div>
        </div>
        <div class="display">
            <div class="box" id="sunbox">
                <div class="suntext">SUNRISE<br>{{risetime}}</div>
                <div class="suntext">SUNSET<br>{{settime}}</div>
            </div>
            <div class="box" id="tempbox">
                <div id="tempwet">WEATHER:<br>{{weather}}</div>
                <div id="tempnum">{{temp}}&degC</div>
            </div>
            <div class="box" id="tmbox">
                <div class="tmtext">Max. Temp<br>{{tmax}}&degC</div>
                <div class="tmtext">Min. Temp<br>{{tmin}}&degC</div>
            </div>
        </div>
    </div>
</body>

</html>